<template>
  <div class="row justify-content-start mt-2">
    <div class="col-auto">
      <button
        type="button"
        class="btn"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        <Exclamation class="" />
      </button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <label for="sepalLength" class="form-label">Longitud de sépalos</label>
      <div class="input-group mb-3">
        <input
          id="sepalLength"
          v-model="data.sepalLength"
          required
          type="number"
          name="sepalLength"
          class="form-control"
          placeholder="Longitud de sépalos"
          aria-label="sepalLength"
          aria-describedby="basic-addon1"
        />
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <label for="sepalWidth" class="form-label">Ancho del sépalo</label>
      <div class="input-group mb-3">
        <input
          id="sepalWidth"
          v-model="data.sepalWidth"
          required
          type="number"
          name="sepalWidth"
          class="form-control"
          placeholder="Ancho del sépalo"
          aria-label="sepalWidth"
          aria-describedby="basic-addon1"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <label for="petalLength" class="form-label">Longitud de pétalos</label>
      <div class="input-group mb-3">
        <input
          id="petalLength"
          v-model="data.petalLength"
          required
          type="number"
          name="petalLength"
          class="form-control"
          placeholder="Longitud de pétalos"
          aria-label="petalLength"
          aria-describedby="basic-addon1"
        />
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <label for="petalWidth" class="form-label">Ancho del pétalo</label>
      <div class="input-group mb-3">
        <input
          id="petalWidth"
          v-model="data.petalWidth"
          required
          type="number"
          name="petalWidth"
          class="form-control"
          placeholder="Ancho del pétalo"
          aria-label="petalWidth"
          aria-describedby="basic-addon1"
        />
      </div>
    </div>
  </div>
  <div class="row align-items-center justify-content-center gap-3">
    <div class="col-sm-12 col-md-3 col-lg-3">
      <button
        :title="tooltips.sample.text"
        type="button"
        class="btn btn-success w-100"
        @click="$emit('emit-send-sample', data)"
        data-test="button-send-sample"
      >
        <div class="d-flex align-items-center justify-content-center">
          Enviar muestra
        </div>
      </button>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <button
        :title="tooltips.randomSample.text"
        type="button"
        class="btn btn-secondary w-100"
        data-test="button-send-random-sample"
        @click="$emit('emit-send-sample', data, true)"
      >
        <div class="d-flex align-items-center justify-content-center">
          Enviar muestra aleatoria
        </div>
      </button>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3">
      <button
        :title="tooltips.testModel.text"
        type="button"
        class="btn btn-warning w-100"
        data-test="button-send-test"
        @click="$emit('emit-test', data)"
      >
        <div class="d-flex align-items-center justify-content-center">
          Verificar modelo
        </div>
      </button>
    </div>
  </div>
  <Modal title="Instrucciones">
    <template #content>
      <p>
        Este formulario cuenta con 3 opciones para poner a prueba los modelos de
        SVC y Árbol de decisión:
      </p>
      <ol class="list-group list-group-numbered">
        <li
            v-for="value in tooltips"
          class="list-group-item d-flex justify-content-between align-items-start"
        >
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{value.title}}</div>
            {{value.text}}
          </div>
        </li>
      </ol>
      <p class="my-4">Los resultados de cada predicción serán tabulados, podrás interactuar con los registros de la tabla para visualizar el aspecto de cada flor según sea la predicción.</p>
    </template>
  </Modal>
</template>
<script setup>
import { ref } from "vue";
import Modal from "components/Modal.vue";
import Exclamation from "@/assets/icons/Exclamation.vue";

const props = defineProps({
  data: {
    type: Object,
    required: true,
  },
});
const emits = defineEmits(["emit-send-sample", "emit-test"]);

const tooltips = ref({
  sample: {
    text: "Envía una muestra de flor Iris a partir de lo que ingreses en los inputs",
    title: "Enviar muestra"
  },
  randomSample: {
    text: "Envía una muestra de flor Iris con parámetros aleatorios",
    title: "Enviar muestra aleatoria"
  },
  testModel: {
    text: "Envía a calcular a los modelos cada uno de las muestras de la base de datos Iris. Podrás limpiar los resultados o filtrarlos por predicciones fallidas. Tanto en la tabla como en la visualización del aspecto de cada predicción podrás comparar la predicción con el valor real de la muestra",
    title: "Verificar modelo"
  },
});
</script>
<style lang=""></style>
