<template>
  <div class="row">
    <div v-if="selectedAcction === TEST_ACTION_MODE" class="row">
      <div class="col col-sm-12 col-sm-4 col-lg-4">
        <select
          v-model="filter"
          class="form-select p-2 mt-3 mb-3"
          aria-label="Default select example"
        >
          <option
            v-for="(row, index) in filterStates"
            :key="index"
            :value="row.value"
          >
            {{ row.label }}
          </option>
        </select>
      </div>
    </div>
    <div class="cont-table table-responsive overflow-y-auto my-4">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Longitud sépalo</th>
            <th scope="col">Ancho sépalo</th>
            <th scope="col">Longitud pétalo</th>
            <th scope="col">Ancho pétalo</th>
            <th v-if="selectedAcction === TEST_ACTION_MODE" scope="col">Real</th>
            <th scope="col">Árbol de decisión</th>
            <th scope="col">SVR</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(row, index) in filteredResults"
            :key="index"
            class="cursor-pointer"
            @click="
              $emit(
                'emit-get-selected-prediction',
                row.resultTree,
                row.resultSVC,
                row.real
              )
            "
          >
            <th scope="row">{{ index + 1 }}</th>
            <td>{{ row.sepalLength }}</td>
            <td>{{ row.sepalWidth }}</td>
            <td>{{ row.petalLength }}</td>
            <td>{{ row.petalWidth }}</td>
            <td v-if="selectedAcction === TEST_ACTION_MODE">
              {{ verifyType(row.real).name }}
            </td>
            <td
              :class="{
                'table-danger':
                  selectedAcction === TEST_ACTION_MODE &&
                  row.resultTree !== row.real,
                'table-success': row.resultTree === row.real,
              }"
            >
              {{ verifyType(row.resultTree).name }}
            </td>
            <td
              :class="{
                'table-danger':
                  selectedAcction === TEST_ACTION_MODE && row.resultSVC !== row.real,
                'table-success': row.resultSVC === row.real,
              }"
            >
              {{ verifyType(row.resultSVC).name }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script setup>
import { computed, ref } from "vue";
import { ALL_RESULTS_FILTER, TEST_ACTION } from "@/types/model";

const props = defineProps({
  selectedAcction: {
    type: String,
    required: true,
  },
  filterStates: {
    type: Array,
    required: true,
  },
  results: {
    type: Array,
    required: true,
  },
  verifyType: {
    type: Function,
    required: true,
  },
  filter: {
    type: String,
    required: true,
  },
});
const emits = defineEmits(["emit-get-selected-prediction"]);
const ALL_RESULTS_FILTER_MODE = ref(ALL_RESULTS_FILTER);
const TEST_ACTION_MODE = ref(TEST_ACTION);
const filter = ref(props.filter);
const filteredResults = computed(() => {
  if (filter.value === ALL_RESULTS_FILTER_MODE.value) return props.results;
  return props.results.filter((item) => item.state === filter.value);
});
</script>
<style>
.cont-table {
    max-height: 300px;

}
</style>
