<template>
  <div class="row my-2">
    <div class="col">
      <div v-if="imgTree.img" class="row row-cols-3 justify-content-around">
        <div v-if="selectedAcction === 'test'" class="col">
          <div class="row justify-content-center text-center">
            <img :src="imgReal.img" class="rounded size-img" alt="..." />
            <span> Real </span>
          </div>
        </div>
        <div class="col">
          <div class="row justify-content-center text-center">
            <img :src="imgTree.img" class="rounded size-img" alt="..." />
            <span> Árbol de decisión </span>
          </div>
        </div>
        <div class="col">
          <div class="row justify-content-center text-center">
            <img :src="imgSvc.img" class="rounded size-img" alt="..." />
            <span> SVR </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>

const props = defineProps({
  imgReal: {
    type: Object,
    required: true,
  },
  imgTree: {
    type: Object,
    required: true,
  },
  imgSvc: {
    type: Object,
    required: true,
  },
  selectedAcction: {
    type: String,
    required: true,
  },
});
</script>
<style>
.size-img {
  width: 150px !important;
  height: 150px !important;
  padding: 1em;
}
</style>
