<template>
  <header>
    <Alert :type="getColorApiStatus" data-alert-test="state-api" class="mt-4">
      <template v-slot:alert-slot>
        <div class="d-flex flex-row align-items-center">
          <strong class="me-1">Estado de la API:</strong>
          <div v-if="coreStore.statusAPI === STATUS_API_SUCCESS">{{STATUS_API_SUCCESS_TEXT}}</div>
          <div v-else-if="coreStore.statusAPI === STATUS_API_ERROR">
            {{STATUS_API_ERROR_TEXT}}
            <button
              type="button"
              class="btn btn-primary"
              @click="updateHealthcheck"
            >
              Reintentar
            </button>
          </div>
          <div class="d-flex flex-row align-items-center" v-else>
            <span>{{STATUS_API_VERIFY_TEXT}}</span>
            <div class="ms-2 spinner-grow text-secondary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>
      </template>
    </Alert>
    <Alert type="warning">
      <template #alert-slot>
        <strong>Nota:</strong> La API para interactuar con los modelos de SVR y
        Árbol de decisión está hospedado en
        <a target="_blank" href="https://render.com/">Render</a> bajo la capa
        gratuita que ofrece,
        <strong
          >por lo tanto, si la API está inactiva podrá tomarle unos segundos
          volver a activarse</strong
        >. Mientras tanto lo invito a leer acerca de este proyecto más abajo.
        Gracias por su comprensión
      </template>
    </Alert>
  </header>
  <section>
    <div class="row mb-3">
      <div class="col">
        <h2>Acerca del stack tecnológico utilizado</h2>
        <p>
          Esta aplicación pretende poner en práctica conocimientos de FE, BE y
          ML. El frontend está hecho con Vue JS 3, Pinia, Vue router 4 y
          Bootstrap 5. El backend está hecho con Flask, es un API que expone 3
          endpoint para verificar el estado de la API y para realizar las
          predicciones. Los modelos de machine learning elegidos son árbol de
          decisiones y SVC. La BD (Base de Datos) elegida para analizar y
          aplicar los conocimientos de ML es Iris.
        </p>
        <a
          href="https://gitlab.com/ia-vue-flask"
          target="_blank"
          title="link al repositorio"
          >Repositorio en gitlab</a
        >
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Acerca de la base de datos</h2>
        <p>
          La base de datos Iris, introducida por Ronald A. Fisher en 1936,
          consta de 150 observaciones de flores de iris, divididas en tres
          especies: Iris setosa, Iris versicolor e Iris virginica, con 50
          muestras por especie. Cada observación incluye cuatro características
          numéricas: longitud y ancho del sépalo, y longitud y ancho del pétalo,
          medidas en centímetros. Esta base de datos se utiliza ampliamente en
          el aprendizaje automático y la estadística para tareas de
          clasificación y visualización de datos debido a su simplicidad y la
          clara separabilidad entre las especies.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>Características</h3>
        <p>
          Cada observación en la base de datos contiene 4 características
          numéricas:
        </p>
        <ul>
          <li>Longitud del sépalo (en centímetros)</li>
          <li>Ancho del sépalo (en centímetros)</li>
          <li>Longitud del pétalo (en centímetros)</li>
          <li>Ancho del pétalo (en centímetros)</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>Etiquetas</h3>
        <p>Cada observación pertenece a una de las tres especies de iris:</p>
        <ul>
          <li>Iris setosa</li>
          <li>Iris versicolor</li>
          <li>Iris virginica</li>
        </ul>
      </div>
    </div>
    <div class="row align-items-center">
      <h3>Distribución de las muestras</h3>
      <div class="col">
        <img src="@/assets/distribution_DB.png" alt="" />
      </div>
      <div class="col">
        <ul>
          <li>50 muestras de Iris setosa</li>
          <li>50 muestras de Iris versicolor</li>
          <li>50 muestras de Iris virginica</li>
        </ul>
      </div>
    </div>
  </section>
</template>
<script setup>
import { computed } from "vue";
import Alert from "components/Alert.vue";
import { useCoreStore } from "@/store/core.js";
import {
  STATUS_API_ERROR,
  STATUS_API_SUCCESS,
  STATUS_API_VERIFY,
  STATUS_API_ERROR_TEXT,
  STATUS_API_SUCCESS_TEXT,
  STATUS_API_VERIFY_TEXT,
} from "@/types/model";

const coreStore = useCoreStore();

const updateHealthcheck = () => {
  coreStore.getHealthcheck();
};

const getColorApiStatus = computed(() => {
  if (coreStore.statusAPI === STATUS_API_VERIFY) return "secondary";
  if (coreStore.statusAPI === STATUS_API_ERROR) return "danger";
  return STATUS_API_SUCCESS;
});
</script>
<style></style>
