<template>
  <div class="container">
    <Form @emit-send-sample="getPredict" @emit-test="test" :data="data" />
    <ViewImage
      :imgReal="imgReal"
      :imgTree="imgTree"
      :imgSvc="imgSvc"
      :selectedAcction="selectedAcction"
    />
    <div class="row mb-2" v-if="results.length">
      <div class="col">
        <button
          type="button"
          :disabled="loading"
          class="btn btn-primary"
          @click="clear"
        >
          Limpiar resultados
        </button>
      </div>
    </div>
    <ProgressBar
      v-if="loading && selectedAcction === TEST_ACTION"
      :width="results.length"
    />
    <Table
      :selectedAcction="selectedAcction"
      :filterStates="filterStates"
      :results="results"
      @emit-get-selected-prediction="getSelectedPrediction"
      :verifyType="verifyType"
      :filter="filter"
    />
  </div>
  <Spinner v-if="selectedAcction === RANDOM_ACTION && loading" />
</template>
<script>
import { mapState } from "pinia";
import { useCoreStore } from "@/store/core";
import Spinner from "components/Spinner.vue";
import Form from "components/Results/Form.vue";
import ViewImage from "components/Results/ViewImage.vue";
import Table from "components/Results/Table.vue";
import ProgressBar from "components/ProgressBar.vue";
import iris from "@/assets/iris.jpg";
import virginica from "@/assets/virginica.png";
import versicolor from "@/assets/versicolor.png";
import setosa from "@/assets/setosa.png";
import dataTest from "@/types/dataTest.json";
import {
  ALL_RESULTS_FILTER,
  WRONG_RESULTS_FILTER,
  SUCCESS_RESULTS_FILTER,
  TEST_ACTION,
  RANDOM_ACTION,
} from "@/types/model";
import { getPredictTreeClassifier, getPredictSVC } from "services/index.js";

export default {
  name: "App",
  components: {
    Spinner,
    Form,
    ViewImage,
    Table,
    ProgressBar,
  },
  data() {
    return {
      ALL_RESULTS_FILTER,
      WRONG_RESULTS_FILTER,
      SUCCESS_RESULTS_FILTER,
      TEST_ACTION,
      RANDOM_ACTION,
      filterStates: [
        { value: ALL_RESULTS_FILTER, label: "Todos" },
        { value: WRONG_RESULTS_FILTER, label: "Predicciones diferentes" },
        { value: SUCCESS_RESULTS_FILTER, label: "Predicciones correctas" },
      ],
      loading: false,
      imgIris: iris,
      imgVirginica: virginica,
      imgVersicolor: versicolor,
      imgSetosa: setosa,
      data: {
        sepalLength: this.getRandomInt(4.3, 8),
        sepalWidth: this.getRandomInt(2, 4.5),
        petalLength: this.getRandomInt(1, 7),
        petalWidth: this.getRandomInt(0.1, 2.6),
      },
      predict: {
        real: null,
        svc: null,
        tree: null,
      },
      results: [],
      filter: ALL_RESULTS_FILTER,
      selectedAcction: "",
    };
  },
  computed: {
    ...mapState(useCoreStore, ["statusAPI"]),
    imgReal() {
      return this.verifyType(this.predict.real);
    },
    imgTree() {
      return this.verifyType(this.predict.tree);
    },
    imgSvc() {
      return this.verifyType(this.predict.svc);
    },
  },
  methods: {
    verifyType(data) {
      if (data === 1) return { img: this.imgSetosa, name: "Setosa" };
      if (data === 2) return { img: this.imgVersicolor, name: "Versicolor" };
      if (data === 3) return { img: this.imgVirginica, name: "Virginica" };
      return {};
    },
    getRandomInt(min, max) {
      return Math.floor(Math.random() * (max - min)) + min;
    },
    getSelectedPrediction(tree, svc, real) {
      this.predict.tree = tree;
      this.predict.svc = svc;
      this.predict.real = real;
    },
    clear() {
      (this.results = []), (this.filter = ALL_RESULTS_FILTER);
      this.selectedAcction = "";
      this.predict = {
        real: null,
        svc: null,
        tree: null,
      };
    },
    async test(samples) {
      let data = samples;
      this.clear();
      this.selectedAcction = TEST_ACTION;
      for (const item of dataTest) {
        this.loading = true;
        let sepalLength, sepalWidth, petalLength, petalWidth, real;
        [sepalLength, sepalWidth, petalLength, petalWidth, real] = item;
        data = {
          sepalLength,
          sepalWidth,
          petalLength,
          petalWidth,
        };
        try {
          const resultTree = await getPredictTreeClassifier(data);
          const resultSVC = await getPredictSVC(data);
          this.predict.tree = resultTree.data.response[0];
          this.predict.svc = resultSVC.data.response[0];
          this.predict.real = real;
          this.results.push({
            ...data,
            resultTree: this.predict.tree,
            resultSVC: this.predict.svc,
            real,
            state:
              real !== this.predict.tree || real !== this.predict.svc
                ? "wrong"
                : "success",
          });
        } catch (error) {
          console.error(error);
        } finally {
          this.loading = false;
        }
      }
    },
    async getRandomSample() {
      return {
        sepalLength: this.getRandomInt(4.3, 8),
        sepalWidth: this.getRandomInt(2, 4.5),
        petalLength: this.getRandomInt(1, 7),
        petalWidth: this.getRandomInt(0.1, 2.6),
      };
    },
    async getPredict(samples, random) {
      let data = samples;
      if (random) data = await this.getRandomSample();
      if (this.selectedAcction !== RANDOM_ACTION) this.clear();
      this.selectedAcction = RANDOM_ACTION;
      this.loading = true;
      try {
        const resultTree = await getPredictTreeClassifier(data);
        const resultSVC = await getPredictSVC(data);
        this.predict.tree = resultTree.data.response[0];
        this.predict.svc = resultSVC.data.response[0];
        this.results.push({
          ...data,
          resultTree: this.predict.tree,
          resultSVC: this.predict.svc,
        });
      } catch (error) {
        console.error(error);
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>
<style>
.cursor-pointer {
  cursor: pointer;
}
</style>
