<template>
  <div class="alert" :class="'alert-' + type" role="alert">
    <slot name="alert-slot"> Verificando estado... </slot>
  </div>
</template>
<script setup>
const props = defineProps({
  type: {
    type: String,
    default: "info"
  },
});

</script>
<style scope>
.alert,
strong {
  transition: all 0.5s ease-out, all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out, all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out, all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out, all 0.5s ease-out;
  -o-transition: all 0.5s ease-out, all 0.5s ease-out;
}
</style>
