<template>
  <div
    class="progress"
    role="progressbar"
    aria-label="Example 20px high"
    :aria-valuenow="width"
    :aria-valuemin="min"
    :aria-valuemax="max"
    :style="{'height': height+'px'}"
    data-test-value="prograssBar"
  >
    <div class="progress-bar" :style="{'width': width+'%'}"></div>
  </div>
</template>
<script setup>
const props = defineProps({
  width: {
    type: [String, Number],
    default: 0
  },
  height: {
    type: [String, Number],
    default: 20
  },
  min: {
    type: [String, Number],
    default: 0
  },
  max: {
    type: [String, Number],
    default: 100
  },
  min: {
    type: [String, Number],
    default: 0
  }
  
});
</script>
<style lang=""></style>
