<template>
  <div class="spinner-wrapper">
    <div
      class="spinner-border spinner-border-xl position-absolute top-50 start-50"
      role="status"
    >
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</template>
<script setup>
</script>
<style scoped>
.spinner-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vh;
  z-index: 9999;
}

.spinner-wrapper .spinner-border-xl {
  width: 5rem !important;
  height: 5rem !important;
}
</style>
