<template>
  <div class="container" id="app">
    <div class="row">
      <nav
        class="navbar sticky-top navbar-expand-lg bg-body-tertiary text-center"
      >
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarScroll"
            aria-controls="navbarScroll"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarScroll">
            <img
              src="@/assets/setosa.png"
              alt="Logo"
              class="placeholder-glow circle float-star m-2 circle-img-state"
            />
            <ul class="navbar-nav">
              <li class="nav-item">
                <RouterLink class="nav-link nav-item" :to="{ name: 'home' }"
                  >Acerca de este proyecto</RouterLink
                >
              </li>
              <li class="nav-item">
                <RouterLink
                  class="nav-link nav-item"
                  :aria-disabled="disableResults"
                  :to="{ name: 'results' }"
                  :class="{disabled: disableResults}"
                  >Interactuar con los modelos</RouterLink
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <section>
      <router-view v-slot="{ Component, route }">
        <!-- Use a custom transition or fallback to `fade` -->
        <transition name="fade" mode="out-in">
          <div :key="route.name">
            <component :is="Component" />
          </div>
        </transition>
      </router-view>
    </section>
  </div>
</template>

<script setup>
import { onMounted, computed } from "vue";
import { useCoreStore } from "./store/core.js";
import { STATUS_API_ERROR, STATUS_API_SUCCESS, STATUS_API_VERIFY } from "@/types/model";

const coreStore = useCoreStore();

onMounted(async () => {
  coreStore.getHealthcheck();
});

const disableResults = computed(()=> coreStore.statusAPI !== STATUS_API_SUCCESS)

const getColorApiStatus = computed(() => {
  if (coreStore.statusAPI === STATUS_API_VERIFY) return "gray";
  if (coreStore.statusAPI === STATUS_API_ERROR) return "#f1aeb5";
  return "#a3cfbb";
});
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.container {
  max-width: 1000px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
<style scoped>
.circle {
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50px;
}

.circle-img-state {
  border: solid 5px;
  border-color: v-bind("getColorApiStatus");
  transition: all 0.5s ease-out, all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out, all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out, all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out, all 0.5s ease-out;
  -o-transition: all 0.5s ease-out, all 0.5s ease-out;
}
</style>
